<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">О нас</h2>
                <hr class="light">
                <p class="text-faded">Предприятие "E-motors" производит капитальный ремонт и перемотку электродвигателей и трансформаторов всех типов, включая: 
                асинхронные электродвигатели общепромышленного назначения, крановые и лифтовые электродвигатели, тормозные катушки, тельферы, электродвигатели импортного производства, различной мощности и напряжения.
                Мы работаем на территории Днепропетровской области.
                Гарантия на работы 12 месяцев.</p>
                <a href="#" class="btn btn-default btn-xl">На главную</a>
            </div>
        </div>
    </div>
</section>
