<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" onclick="$('#p01short').toggle();$('#p01full').toggle();" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div id="p01short">
                                <div class="project-category text-faded">
                                    РЕМОНТ
                                </div>
                                <div class="project-name">
                                    Асинхронных электродвигателей общепромышленного назначения
                                </div>
                            </div>
                            <div id="p01full" class="project-name" style="display: none;">
                                Асинхронные электродвигатели считаются одними из наиболее распространенных видов электромашин. Из-за простоты устройства, высокой надежности в работе, хороших рабочих характеристиках и относительно невысокой стоимости, представленные электродвигатели применяются во всех отраслях. Однако, как и любые электрические машины, они склонны к поломкам и периодическим нуждаются в ремонте.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" onclick="$('#p02short').toggle();$('#p02full').toggle();" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div id="p02short">
                                <div class="project-category text-faded">
                                    РЕМОНТ
                                </div>
                                <div class="project-name">
                                    Крановых электродвигателей
                                </div>
                            </div>
                            <div id="p02full" class="project-name" style="display: none;">
                                Крановые электродвигатели широко применимы почти во всех отраслях промышленности. Этот вид двигателей представлен в широком ассортименте моделей и вариантов. Мастера нашей компании производят ремонт крановых электродвигателей абсолютно всех модификаций как отечественного, так и импортного производства.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" onclick="$('#p03short').toggle();$('#p03full').toggle();" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div id="p03short">
                                <div class="project-category text-faded">
                                    РЕМОНТ
                                </div>
                                <div class="project-name">
                                    Лифтовых электродвигателей
                                </div>
                            </div>
                            <div id="p03full" class="project-name" style="display: none;">
                                Лифтовые электродвигатели предназначены для приводов грузовых и пассажирских лифтов. Разнообразие лифтовых механизмов объясняет разнообразие моделей электродвигателей для них. Независимо от того, какая модель установлена на вашем лифте, наша компания произведет качественный ремонт лифтовых электродвигателей, в том числе и импортного производства. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" onclick="$('#p04short').toggle();$('#p04full').toggle();" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div id="p04short">
                                <div class="project-category text-faded">
                                    РЕМОНТ
                                </div>
                                <div class="project-name">
                                    Электродвигателей тельферов
                                </div>
                            </div>
                            <div id="p04full" class="project-name" style="display: none;">
                                Тельфер — это специальное устройство для подъемов груза, имеющее электрический привод. Наше предприятие обеспечивает техническое обслуживание и ремонт тельферов.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" onclick="$('#p05short').toggle();$('#p05full').toggle();" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div id="p05short">
                                <div class="project-category text-faded">
                                    РЕМОНТ
                                </div>
                                <div class="project-name">
                                    Электродвигателей импортного производства
                                </div>
                            </div>
                            <div id="p05full" class="project-name" style="display: none;">
                                Импортные электродвигатели пользуются большой популярностью наряду с моторами отечественного производства. Однако когда возникает необходимость произвести ремонт иностранных электродвигателей, далеко не каждое предприятие возьмется за их ремонт, так как они имеют свои конструкционные особенности. Для наших специалистов ремонт иностранных электродвигателей является обычным делом.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0);" onclick="$('#p06short').toggle();$('#p06full').toggle();" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div id="p06short">
                                <div class="project-category text-faded">
                                    РЕМОНТ
                                </div>
                                <div class="project-name">
                                    Трансформаторов
                                </div>
                            </div>
                            <div id="p06full" class="project-name" style="display: none;">
                                Трансформатор - статическое электротехническое устройство, предназначенное для работы с током. Оно служит для преобразования напряжения переменного тока благодаря процессу магнитной индукции. Если происходит отклонение от одного из его параметров и режим короткого замыкания, то необходимо произвести простой (ремонт резервуаров, корпусов) или капитальный (перемотка) ремонт трансформаторов.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
